
.body{
    cursor: none!important;
}
.abt-sec{
    padding: 100px;
    background-color: white;
    
}
.allen{
    width: 100%;
    padding: 0!important;
    margin: 0!important;
   
}
.carousel-caption {
    position: absolute;
    right: 55%!important;
    bottom: 50%!important;
    /* left: 0!important; */
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

nav ul li a.active, nav ul li a:hover {
    color: #E34A4A;
}
img.logo {
    margin-top: 20px;
}
.banner-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
.para{
    vertical-align: middle;
}
svg#Capa_1 {
    height: 20px;
}
.col-md-6.para {
    vertical-align: middle;
    margin-top: 100px;
    vertical-align: middle;
    margin-top: 100px;
    /* padding-left: 50px; */
}

.butt.btn-primary {
    color: #fff;
    background-color: #E54B4B;
    border-color: #E54B4B;
    width: 136px;
}
.butt.btn-primary:hover{
    background-color: #E54B4B;
    border-color: #E54B4B;
}
.sel_work{
    background-color: #F9F9F9;
    padding: 100px;
  
}
/* .custom-crosshair {
    cursor: crosshair;
  } */
/* -------------------- */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
.card {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        /* border: 1px solid rgba(0,0,0,.125); */
        
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.3s cubic-bezier(.3, 0, 0, 1.3);
        object-fit: cover;
        object-position: center center;
        user-select: none;
    }

    .content {
        width: -webkit-fill-available;
        position: absolute;
        bottom: -20px;
        z-index: 10;
        color: #FFF;
        padding: 0 0 35px 40px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s cubic-bezier(.3, 0, 0, 1.3);

        h4 {
            font-size: 28px;
            margin: 0 0 7px 0;
        }

        span {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .cover {
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to top, rgba(#201f20, 0.9) 0%, rgba(#201f20, 0.1) 60%, rgba(#201f20, 0.05) 80%, rgba(#201f20, 0) 100%);
        position: absolute;
        bottom: 0;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s cubic-bezier(.3, 0, 0, 1.3);
        user-select: none;
    }

    .shadow {
        width: 270px;
        height: 100px;
        position: absolute;
        background-color: #352720;
        bottom: 0px;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        z-index: -10;
        filter: blur(55px);
        border-radius: 50px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
        user-select: none;
    }

    &:hover {

        img {
            transform: scale(1.1);
        }

        .content {
            visibility: visible;
            opacity: 1;
            bottom: -10px;
            transform: scale(1.1);
        }

        .cover {
            visibility: visible;
            opacity: 1;
            bottom: -10px;
            transform: scale(1.1);
        }

        .shadow {
            width: 290px;
            visibility: visible;
            opacity: 1;
            bottom: -20px;
            transform: scale(1.1) translate(-45%);
        }
    }

    &:active {

        img {
            transform: scale(0.9);
        }

        .content {
            opacity: 0;
            transform: scale(0.9);
        }

        .cover {
            opacity: 0.3;
            bottom: 10px;
            transform: scale(0.9);
        }

        .shadow {
            opacity: 0.3;
            bottom: -20px;
            transform: scale(0.9) translate(-45%);
        }
    }
}


    
.image {
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-image:url("/2.webp");
    background-position:center;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F9F9F9!important;
    background-clip: border-box;
    border: none!important;
    border-radius: .25rem;
}

.progress_bar{
    padding-top: 50px;
    background-color: white;
}
.progress_bar h1{
    font-weight:600;
    margin-top: 50px;
}

.progress_bar p{
    font-weight:400;
    margin-top: 30px;
    color: black;
}
.container .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
     /*progreso de las diferentes lenguajes*/
    width: 50%;
    animation-delay: 0.1s;
  }
  
  .skill-per.css {
           /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.1s;
  }
  
  .skill-per.javascript {
        /*progreso de las diferentes lenguajes*/
    width: 50%;
    animation-delay: 0.2s;
  }
  
  .skill-per.nodejs {
        /*progreso de las diferentes lenguajes*/
    width: 30%;
    animation-delay: 0.3s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #E54B4B;
    z-index: 1;
  }
  
  .tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #E54B4B;
    transform: translateX(-50%) rotate(45deg);
  }
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #E54B4B;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-box .title {
    display: block;
    font-size: 21px;
    font-weight: 600;
    color: #333;
}
.black-box{
    background-image:url('/inspiration-geometry.webp');
    width: 100%;
    /* height: 30vh; */
    background-position: center;
    /* background-size: cover ; */
position: relative;
    background-repeat: repeat;
    background-color: black;
    padding: 50px;
    vertical-align: middle;
}

/* form code */



form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #E54B4B;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px!important;
}

button:hover {
    /* background-color: white; */
    border-color: 1px solid #000000!important;
}
.form1{
    padding: 50px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 30px!important;
}

.cursor {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #E85E5E;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
  }
  
  .cursor2 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #E85E5E;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }
  
  .hover {
    background-color: red;
    opacity: 0.5;
  }
  
  .cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
  }
  

  footer {
    width: 99%!important;
    position:relative;
    bottom:0px
  }
  footer div {
    background-color: var(--col-deepblue);
    margin: 0px 0px 0px 0px;
    padding:0px;
    color: #fff;
    text-align:center;
    width: 99%!important;
  }
  svg {
    width:100%;
    overflow:visible;
  }
  
  .wave {
    width: 99%!important;
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #000;
  }
  .drop {
    fill: var(--col-deepblue);
    /* xfill: #99000055; */
    animation: drop 3.2s linear infinite normal;
    stroke: var(--col-deepblue);
    stroke-width:0.5;
    transform: translateY(25px) ;
    transform-box: fill-box;
    transform-origin: 50% 100%;
  }
  /* .drop1 {
    
  } */
  .drop2 {
    animation-delay: 3s;
    animation-duration:3s;
  }
  .drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
  }
  .drop4 {
    animation-delay: 1.7s;
  }
  .drop5 {
    animation-delay: 2.7s;
    animation-duration:3.1s;
  }
  .drop6 {
    animation-delay: -2.1s;
    animation-duration:3.2s;
  }
  .gooeff {
      filter: url(#goo);
  }
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6;
    width: 99%!important;
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
    width: 99%!important;
  }
  @keyframes drop {
    0% {
      transform: translateY(25px); 
    }
    30% {
      transform: translateY(0px) scale(.1);
    }
    30.001% {
      transform: translateY(25px) scale(1); 
    }
    70% {
      transform: translateY(25px); 
    }
    100% { 
      transform: translateY(10px) scale(.1);  
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }
  
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #000000;
    color: white;
  }
  
  .fa-twitter {
    background: #000000;
    color: white;
  }
  
  .fa-google {
    background: #000000;
    color: white;
  }
  
  .fa-linkedin {
    background: #000000;
    color: white;
  }